 <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="../../../semantic/dist/semantic.min.css">
<link rel="stylesheet" type="text/css" href="../../../semantic/dist/semantic.min.css">
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="../../../semantic/dist/semantic.min.js"></script>
 <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
 <!--div id="centeralign"> 
 <div id="grad">
            <br>
            <label for="formFields_2" id="sizeh">Title:&emsp;</label>
            <input type="text" id="formFields_2" placeholder="Enter a title" size="45" #newTitle>
            <br>
            <label for="formFields_2"id="sizeh">Link:&emsp;</label>
            <input type="url" id="formFields_2" placeholder="Enter a link" size="45" #newLink>  
            <br> 
            <br> 
            <button type="submit" (click)="addArticle(newTitle,newLink)" class="btn btn-primary btn-block">Submit link</button>
</div>

</div-->
   <form class="ui large form segment">
      <h3 class="ui header">Add a Link</h3>

      <div class="field">
        <label for="title">Title:</label>
        <input name="title" #newtitle>  <!-- changed -->
      </div>
      <div class="field">
        <label for="link">Link:</label>
        <input name="link" #newlink> <!-- changed -->
      </div>

      <!-- added this button -->
      <button (click)="addArticle(newtitle, newlink)"  
              class="ui positive right floated button">  
        Submit link  
      </button>  
    </form>

<app-article></app-article>